.hero {
  max-width: 100dvw;
  height: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(to right, #2d3748, #1a202c, #000000);

  

}
@media (min-width:720px){
  .hero{
    min-height: 80dvh;
  }

}

